* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $color-white;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 18px;
  font-weight: $normal;
  line-height: 34px;
  font-style: normal;
  color: $color-grey;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  font-family: "Lato", "Arial", sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $tablet-width-S) {
  body {
    font-size: 16px;
    line-height: 32px;
  }
}
