$color-white: #ffffff;
$color-light-grey: #a9afb3;
$color-grey: #848789;
$color-dark-grey: #353738;
$color-green: #64c29e;
$color-black: #000000;
$color-bg-lite-grey: #f7f7f7;
$color-bg-dark-grey: #282f35;
$color-dark-grey: #444444;

$bold: 700;
$normal: 400;
$lighter: 300;

$tablet-width-M: 1024px;
$tablet-width-S: 768px;
$mobile-width-L: 568px;
$mobile-width-M: 480px;
$mobile-width-S: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
